/** GLOBAL STYLE **/

body {
  line-height: 1.6;
  font-size: 18px;
  color:#444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2 {
  line-height: 1.2;
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
}

.badge {
  height: 64px;
  transition: transform 0.2s;
}

.badge.apple {
  margin-right: 24px;
}

.badge:hover {
  transform: translateY(-4px);
}

@media screen and (max-width: 500px) {
  .badges {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .badge.apple {
    margin-right: 0;
  }
}

/** NAVBAR **/

.navbar {
  background-color: #EBEEF5;
}

.navbar-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  max-width: 1000px;
}

.logo {
  height: 48px;
  margin-left: 12px;
}

.nav-item {
  margin: 0 12px;
}

.btn-download {
  background-color: #696CD4;
  color: white;
  padding: 12px 16px;
  border-radius: 32px;
}

@media screen and (max-width: 1024px) {
  .navbar-content {
    padding: 12px 36px;
  }
}

@media screen and (max-width: 500px) {
  .navbar-content {
    justify-content: center;
  }

  .nav-item {
    display: none;
  }
}

/** HERO **/

.hero {
  background: #EBEEF5;
  padding: 72px 0 48px;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  margin-top: 0;
  font-size: 64px;
}

.iphone {
  height: 600px;
}

@media screen and (max-width: 1024px) {
  .hero-content {
    padding: 12px 36px;
  }
}

@media screen and (max-width: 860px) {
  h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding-top: 24px;
  }

  .hero-content {
    flex-direction: column-reverse;
    align-items: center;
  }

  h1 {
    text-align: center;
  }

  .iphone {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 500px) {
  
}

/** FEATURES **/

#features {
  padding: 48px 0 0;
  margin: -1px auto;
  color: white;
  background: #5658B3;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.feature-text {
  font-size: 24px;
}

.feature-sub-headline {
  font-size: 18px;
}

.features-break {
  margin: 64px 0 -64px;
  height: 128px;
  background-color: #5658B3;
  transform: skewY(-3deg);
}

.features-break.grey {
  margin: -96px 0 96px;
  height: 96px;
  background-color: #EBEEF5;
  transform: skewY(3deg);
}

/** DOWNLOAD **/

#download {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 164px 0 72px;
  background-color: #EBEEF5;
}

h2 {
  text-align: center;
  font-size: 48px;
}

/** FOOTER **/

footer {
  padding: 72px 6px;
  background-color: #EBEEF5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-item {
  margin: 12px;
}
