/** GLOBAL STYLE **/

body {
  line-height: 1.6;
  font-size: 18px;
  color:#444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3 {
  line-height:1.2;
}

.badges {
  padding: 24px;
}

.badges > a {
  text-decoration: none;
}

.badge {
  margin: 12px;
  height: 64px;
  transition: transform 0.2s;
}

.badge:hover {
  transform: translateY(-4px);
}

/** NAVBAR **/

.navbar {
  background-color: #EBEEF5;
}

.navbar-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  width: 1000px;
}

.logo {
  height: 48px;
  margin-left: 12px;
}

.nav-item {
  margin: 0 12px;
}

.btn-download {
  background-color: #696CD4;
  color: white;
  padding: 12px 16px;
  border-radius: 32px;
}

/** HERO **/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #5658B3;
  background: -webkit-linear-gradient(bottom, #5658B3, #EBEEF5);
  background: -moz-linear-gradient(bottom, #5658B3, #EBEEF5);
  background: linear-gradient(to top, #5658B3, #EBEEF5);
  padding-top: 72px;
}

.iphone {
  height: 600px;
}

/** FEATURES **/

.features {
  padding: 48px 0 0;
  margin: -1px auto;
  color: white;
  background: #5658B3;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
} 

.feature-text {
  font-size: 24px;
}

.feature-sub-headline {
  font-size: 18px;
}

.features-break {
  margin: 64px 0 -64px;
  height: 128px;
  background-color: #5658B3;
  transform: skewY(-3deg);
}

/** DOWNLOAD **/

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 0;
}

.download > h2 {
  text-align: center;
  font-size: 32px;
}

/** FOOTER **/

footer {
  padding: 48px;
  background-color: #EBEEF5;
}