/** GLOBAL STYLE **/

body {
  line-height: 1.6;
  font-size: 18px;
  color: #1F2933;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2 {
  line-height: 1.2;
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: #1F2933;
}

.badge {
  height: 64px;
  transition: transform 0.2s;
}

.badge.apple {
  margin-right: 24px;
}

.badge:hover {
  transform: translateY(-4px);
}

@media screen and (max-width: 506px) {
  .badges {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .badge.apple {
    margin-right: 0;
  }
}

/** NAVBAR **/

.navbar {
  background-color: #EBEEF5;
}

.navbar-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  max-width: 1000px;
}

.logo {
  height: 48px;
  margin-left: 12px;
}

.nav-item {
  margin: 0 12px;
}

.btn-download {
  background-color: #696CD4;
  color: white;
  padding: 12px 16px;
  border-radius: 32px;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

.btn-download:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0,0,0,.12), 0 2px 5px rgba(0,0,0,.24);
}

@media screen and (max-width: 1024px) {
  .navbar-content {
    padding: 12px 36px;
  }
}

@media screen and (max-width: 500px) {
  .navbar-content {
    justify-content: center;
  }

  .nav-item {
    display: none;
  }
}

/** HERO **/

.hero {
  background: #EBEEF5;
  padding: 72px 0 48px;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  margin-top: 0;
  font-size: 64px;
}

.highlight {
  background-image: linear-gradient(120deg,#FAE06E,#FAE06E);
  background-repeat: no-repeat;
  background-size: 100% 35%;
  background-position: 0 100%;
}

.iphone {
  height: 600px;
}

@media screen and (max-width: 1024px) {
  .hero-content {
    padding: 12px 36px;
  }
}

@media screen and (max-width: 860px) {
  h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 24px;
  }

  .hero-content {
    flex-direction: column-reverse;
    align-items: center;
  }

  h1 {
    text-align: center;
    margin-bottom: 48px;
  }

  .iphone {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 398px) {
  h1 {
    font-size: 36px;
  }
}

/** FEATURES **/

#features {
  padding: 48px 0 0;
  margin: -1px auto;
  color: white;
  background: #5658B3;
}

.feature {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.feature-text {
  margin-left: 36px;
}

.feature-text.left {
  margin-left: 0;
  margin-right: 24px;
}

.feature-headline {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.feature-sub-headline {
  font-size: 18px;
  color: #dedff7;
}

.feature-image-container {
  padding: 48px 96px;
  background-image: url('./assets/blobs/blob1.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.feature-image {
  width: 256px;
  box-shadow: 0 2px 5px rgba(0,0,0,.12), 0 2px 5px rgba(0,0,0,.24);
  border-radius: 12px;
}

.features-break {
  margin: 64px 0 -64px;
  height: 128px;
  background-color: #5658B3;
  transform: skewY(-3deg);
}

.features-break.grey {
  margin: -114px 0 64px;
  height: 136px;
  background-color: #EBEEF5;
  transform: skewY(3deg);
}

@media screen and (max-width: 920px) {
  .feature {
    justify-content: center;
    padding: 0 6px;
  }

  .feature-image-container {
    padding: 24px 48px;
    background-size: 150%;
  }
  
  .feature-image {
    width: 196px;
  }

  .features-break {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .feature {
    margin: 72px 0 0;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .feature.left {
    flex-direction: column;
  }

  .feature-text {
    margin-left: 0;
  }

  .feature-text.left {
    margin-right: 0;
  }

  .feature-headline {
    font-size: 24px;
  }

  .features-break.grey {
    margin: -78px 0 64px;
  }
}

/** DOWNLOAD **/

#download {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 164px 12px 72px;
  background-color: #EBEEF5;
}

h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 48px;
  padding: 0 6px;
}

@media screen and (max-width: 398px) {
  h2 {
    font-size: 36px;
  }
}

/** FOOTER **/

footer {
  padding: 72px 6px 48px;
  background-color: #EBEEF5;
  display: flex;
  justify-content: center;
}

.footer-item {
  margin: 12px;
  color: rgb(121, 121, 121);
}

.footer-link {
  color: rgb(121, 121, 121);
}

.footer-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}

/** PRIVACY POLICY **/

.privacy-policy {
  background-color: #EBEEF5;
}

.privacy-policy > div {
  padding: 72px 12px;
  margin: 0 auto;
  max-width: 800px;
  min-height: calc(100vh - 80px - 172px - 144px);
}